* {
    font-style: none;
}
body {
  color: rgb(101, 37, 97);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 243, 243);
}
#sitename {
  background-color: rgb(9, 10, 35);
  color: rgb(196, 196, 196);
  margin: 0;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 12px;
  font-size: 1.42rem;
}
#logobar::before {
  content: "";
  display: block;
  width: 100%;
  height: 70vh;
  background: url("/root/assets/Wallpapers/gas-station-8626683_1920.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: 4vh;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
#logobar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: none;
  position: fixed;
  top: 70vh;
  z-index: 1000; /* Ensure the navbar is above other content */
  transition: top 2s ease-in-out;
  padding: 20px 0;
  color: rgb(251, 255, 192);
  text-align: center;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}
#navbar.scrolled {
  display: block;
  background-color: rgba(9, 10, 32, 0.573);
  top: 0;
}
.justify {
    text-align: left;
  }
  
#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar ul li {
  display: inline;
  margin: 0 10px;
  font-size: 0.6rem;
}

#navbar ul li a {
  color: rgb(214, 218, 214);
  text-decoration: none;
}

#home,
section {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
@media (max-width: 800px) {
  #sitename {
    font-size: 0.7rem;
    letter-spacing: 2px;
    justify-content: start;
    padding: 8px;
    padding-top: 25px;
  }
  #logobar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
  }
}
